- S3_PATH = "https://frog-feels.s3.amazonaws.com"
- url = "http://frogfeels.com"
- description = "A place to draw feelings, and feel feelings."
- frog = "https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3A71bc4e4c-4845-48d7-ba7a-4171a4177b55%2Ffrog.png"
- frog2x = "https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3A71bc4e4c-4845-48d7-ba7a-4171a4177b55%2Ffrog%402x.png"

doctype html
html
  include includes/head
  body
    include includes/header

    section.last-week-review

      h2 This Week
        each group in feelingGroups
          .group
            h1.topic= group.feeling
            each drawing in group.drawings
              .drawing
                img(src=`${S3_PATH}${drawing.path}`)
                if admin
                  p
                    .votes-count= `^ ${drawing.votes} votes`
                  if drawing.masterpiece
                    p 💖
                  else
                    button.primary-button.has-emoji.make-masterpiece(data-path=drawing.path)
                      span Make masterpiece 
                      span.emoji 💖
                  button.primary-button.has-emoji.remove-drawing(data-path=drawing.path)
                    span Remove 
                    span.emoji 🌚

    include includes/footer
    include includes/scripts
